*{
  margin: 0;
  padding: 0;
}


.main-body{
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
  }
  
header{
  width: auto;
  height: 100%;
  background-image:url(background_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(rgba(95, 93, 187, 0.397), green, blue, alpha) ;
}

header h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  padding:40% 0 10% 0;
  background-color: rgba(95, 93, 187, 0.397);
}

.global-cont{
   width: 100%;
   
   margin: 0 auto;
}

#main{
  width: 90%;
  max-width: 1000px;
  margin:0 auto;
  height: 70%;
}

#main h3, h4{
  padding-top: 50PX;
  text-align: center;
  color: #5F87CF;
  font-size: 160%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: none;
}

#main p{
    margin: 0 auto;
    color: #6F85AB;
    width: 90%;
    text-align:none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#imagen{
  width: 40%;
  height: auto;
  margin: 0 auto;
  text-decoration: none;
  justify-content: center;
  display: flex;
}

.blocks{
  width: 100%;
  margin: 0 auto;
  float:left;
}

.blocks p{
  color: #6F85AB;
  font-size: 50px;
}

.blocks h5{
  text-align: center;
}

.blocks img{
  width: 55%;
  max-height: auto;
  height: auto;
  margin: 0 auto;
  text-decoration: none;
  justify-content: center;
  display: flex;
}

#img{
  
  width: 55%;
  max-height: auto;
  height: auto;
  margin: 0 auto;
  text-decoration: none;
  justify-content: center;
  display: flex;
}
h5{
  color: #5F87CF;
  font-size:150%;
}

footer{
  height: 200px;
  width: auto;
  background-color: #365B74;
  border-radius: 3px;
}

footer p{
  text-align: center;
  color: white;
}
footer a{
  text-align: center;
  color: white;
  margin: 0 auto;
  text-decoration: none;
  justify-content: center;
  display: flex;
}
.clearfix{
  clear: both;
}